
@import url('http://fonts.googleapis.com/css?family=Proza+Libre');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Corsiva');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
@import url('https://fonts.googleapis.com/css?family=Nova+Flat');


/*Things to do:
1. how to make this fade without the color change
2. using vw is a new unit of lenghth which is good for the viewport
3. css hover doesn't work on ios devices. use hover jquery instead
4. wow needs doctype html header apparently
5. media queries are things used for when a max or min device width is hit
6. meta properties are used for facebook thumbnails*/

body, html {
    overflow: scroll;
    margin: 0 auto;
    font-family: Ruslan Display;
}

/*Borders: to round the corners of a border, you change the border radius
you have to say the border style first*/
/* The hashtag is for id's (things that won't get repeated as often.) The . is for class.) */

.navbar-element {
    padding-bottom: 4px;
    border-bottom-width: 2px;
    border-bottom-color: #fb594c;
    border-bottom-style: solid;
}

#logo {
    float: left;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    z-index: 999;
    color: white;
}

.icon {
    display: none;
}

ul {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style-type: none;
    background-color: #384b54;
    z-index: 9999;
    box-shadow: 0.5px 0.5px #302e2e;
}

li {
    float: right;
}

li a {
    width: 100px;
    margin-right: 5px;
    font-size: 12px;
    font-family: Proza Libre;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    z-index: 999;
}

li a:hover {
    cursor: hand;
    color: #fb594c;
}

#background-video { 
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70%;
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 2s; /* Firefox < 16 */
        -ms-animation: fadeIn 2s; /* Internet Explorer */
         -o-animation: fadeIn 2s; /* Opera < 12.1 */
            animation: fadeIn 2s;
}

#title-bar {
    display: block;
    background-color: #0B1E2E;
    position: relative;
    width: 100%;
    height: 16vw;
    text-align: center;
    color: white;
}

#home-title {
    font-size: 5.2vw;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

#type-text {
    position: relative;
    font-size: 2vw;
    top: 4vw;
}

#campaign {
    padding-top: 120px;
    position: relative;
    background-color: #B55035;
    text-align: center;
    color: white;
}

#campaign-title {
    text-align: center;
    position: relative;
    font-size: 5.2vw;
}

#campaign-description {
    padding-top: 2vw;
    font-family: Proza Libre;
    position: relative;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 80px;
}

#bestiary {
    background-color: #21272B;
    height: 800px;
    color: white;
}

#bestiary-title {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: 5.2vw;
    z-index: 900;
}

#hover-instruction {
    padding-top: 20px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: Proza Libre;
    font-size: 12px;
    -webkit-animation: guide-bounce 0.6s alternate infinite;
}

@-webkit-keyframes guide-bounce /*Safari and Chrome*/
{
from {-webkit-transform: translateY(0px);}
to {-webkit-transform: translateY(-10px);}
}


#body-container {
    position: relative;
}

.row-of-beasts {
    margin: 0 auto;
    width: 1040px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.beast {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;   
    position: relative;
    height: 137px;
    width: 137px;
    float: left;
    margin-left: 1%;
}

.beast img {
    width: 100%;
    height: 100%;
}

#overlay {
    width: 137px;
    height: 137px;
    position: absolute;
    background: rgba(0,0,0,.75);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .25s ease;}

.beast:hover #overlay {
    opacity: 1;
    cursor: hand;
}

#word { 
    margin-top: 60px;
    font-family: Nova Flat;
    font-weight: 900;
    color: rgba(255,255,255,.85);
    font-size: 20px;
}

.beast-title {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: Proza Libre;
}

#third-row {
    margin: auto;
    width: 730px;
}

#affinity {
    color: white;
    background-color: #6389A6;
}

#affinity-title {
    padding-top: 100px;
    text-align: center;
    position: relative;
    font-size: 5.2vw;
}

#affinity-description {
    text-align: center;
    padding-top: 20px;
    font-family: Proza Libre;
    position: relative;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 50px;
}

#map {
    color: #21272B;
    background-color: #f3f2f2;
}

#map-title {
    padding-top: 100px;
    text-align: center;
    position: relative;
    font-size: 5.2vw;
    padding-bottom: 10px;
}

#map-container {
    margin: 0 auto;
    width: 700px;
    height: 500px;
    padding-bottom: 50px;
}

#map-container img {
    width: 100%;
}

/**Media Queries if it is less than 680*/
@media screen and (max-width : 800px) {

    #background-video {
        margin-top: 45px;
    }

    #title-bar {
        height: 60px;
    }

    .navbar-element {
        display: none;
    }

    .icon {
        display: inline-block;
    }

    #bestiary {
        height: 2000px;
    }

    .row-of-beasts {       
        width: 300px;
    }

    #third-row {
        width: 300px;
    }

    .beast {
        padding-top: 30px;
    }

    #map-container {
        width: 80%;
        height: 60%;
    }
}


@media screen and (max-width: 800px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive li {
        display: block;
        text-align: left;
    }

    .navbar.responsive li a {
        display: block;
        text-align: left;
    }
}

/**I need the navbar to collapse*/